---
layout: page
---

<h2>Videos</h2>


{{ content }}

<section>

  <ul>
    {% for posts in _posts %}
    {% assign author = site.data.authors[post.author] %}
      <li>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <time datetime="{{ post.date }}">
          <small>
            {% if author %}
              by {{ author.name }}
            {% endif %}
          </small>
        </time>
        {{ post.excerpt | strip_newlines | truncate: 180 }}
      </li>
    {% endfor %}
  </ul>

</section>
