<ul class="social-icons">
  <li><a href="https://twitter.com/BMcMaster2017" target="_blank"><img
        src="../images/SVG/CircleColor/Twitter.svg" /></a></li>
  <li><a href="https://www.instagram.com/bobby_mcmaster/" target="_blank"><img
        src="../images/SVG/CircleColor/Instagram.svg" /></a></li>
  <li><a href="https://github.com/RobertMcMaster" target="_blank"><img src="../images/SVG/CircleColor/Github.svg" /></a>
  </li>
  <li><a href="https://www.youtube.com/channel/UCHVYyL8iRUjIInr3lSSsWSA/featured?view_as=subscriber"
      target="_blank"><img src="../images/SVG/CircleColor/Youtube.svg" /></a></li>
  <li><a href="https://www.twitch.tv/bswifthd" target="_blank"><img src="../images/SVG/CircleColor/Twitch2.svg"></a>
  </li>
  <li><a href="https://open.spotify.com/user/bobbymcmaster2017" target="_blank"><img
        src="../images/SVG/CircleColor/Spotify.svg"></a></li>
  <li><a href="https://www.linkedin.com/in/robert-mcmaster/" target="_blank"><img
        src="../images/SVG/CircleColor/Linkedin.svg"></a></li>
</ul>

<style>
  .social-icons {
    text-align: center;
  }

  .social-icons li {
    display: inline-block;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .social-icons li a {
    border-bottom: none;
  }

  .social-icons li img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }
</style>